* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* - Very Dark Grayish Blue: hsl(217, 19%, 35%)
- Desaturated Dark Blue: hsl(214, 17%, 51%)
- Grayish Blue: hsl(212, 23%, 69%)
- Light Grayish Blue: hsl(210, 46%, 95%) */

body {
  background-color: hsl(210, 46%, 95%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
}

.card {
  display: grid;
  grid-template-columns: 300px 1fr;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  position: relative; 
  overflow: visible;
  z-index: 20; 
}

.card__image {
  background-image: url(images/drawers.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  border-top-right-radius: none;
  border-top-left-radius: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  position: relative;
  overflow: visible;
}

.card__content h2 {
  font-size: 2rem;
  color: hsl(217, 19%, 35%);
  margin-bottom: 1.5rem;
}

.card__content p {
  font-size: 1.8rem;
  color: hsl(214, 17%, 51%);
  margin-bottom: 2rem;
  line-height: 1.6;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
  margin-bottom: 1rem;
}

.card__footer .card__author {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.card__footer .card__author img {
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.card__footer .card__author h4 {
  font-size: 1.4rem;
  color: hsl(217, 19%, 35%);
}

.card__footer .card__author span {
  font-size: 1.2rem;
  color: hsl(212, 23%, 69%);
}

.card__footer .card__share {
  width: 4rem;
  height: 4rem;
  background-color: hsl(210, 46%, 95%);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.card__footer .card__share img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;

  border-radius: 100%;
}

.active-state {
  width: 100%;
  position: absolute;
  background-color: hsl(217, 19%, 35%);
  max-width: 300px;
  display: none;
  align-items: center;
  font-size: 2rem;
  transform: translate(-50px -50px);
  bottom: 100px;
  padding: 2rem;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 2rem;
}

.active-state.show {
  display: flex;
}

.active-state::after {
  content: "";
  position: absolute;
  bottom: -10px; /* position below the box */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid hsl(217, 19%, 35%); /* same as background */
}



.active-state .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

}

.active-state .icons span {
  color: hsl(214, 17%, 51%);
  letter-spacing: 5px;
  font-weight: 700;
}

.active-state .icons .icons-icon {
  display: flex;
  gap: 4rem;
}

.share-icon {
  display: none;
}

.mobile {
  display: none;
}

@media (max-width: 768px) {
  .card {
    grid-template-columns: 1fr;
    margin: auto 10rem;
  }

  .card__image {
    
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-left-radius: none;
    border-bottom-left-radius: none;
    height: 200px;
  }
 
  .active-state {
    width: 100%;
    position: absolute;
    background-color: hsl(217, 19%, 35%);
    max-width: 800px;
    display: none;
    align-items: center;
    font-size: 1rem;
    transform: translate(-50px -50px);
    padding: 3.2rem;
    align-items: center;
    justify-content: space-between;
    bottom: -20px;
    left: 0px;
    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .active-state::after {
    display: none;
  }

  .active-state.show {
    display: flex;
  }
  
 
  .active-state .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  .active-state .icons span {
    letter-spacing: 4px;
    color: hsl(214, 17%, 51%);
    line-height: 1;
  }

  .active-state .icons .icons-icon {
    display: flex;
    gap: 10px;
  }

  .share-icon {
    background-color: hsl(212, 23%, 69%);
    border-radius: 100%;
    padding: 0.6rem;
    display: flex;
    align-items: center;
  }

  .share-icon.show {
    display: flex;
  }
 



}


@media (max-width: 475px) {
 

  .active-state {
    bottom: -8px;
    padding: 3rem;
  }

  .active-state .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
  }
  .active-state .icons span {
    letter-spacing: 3px;
    color: hsl(214, 17%, 51%);
    line-height: 1;
  }

  .active-state .icons .icons-icon {
    display: flex;
    gap: 10px;
  }

  .share-icon {
    background-color: hsl(212, 23%, 69%);
    border-radius: 100%;
    padding: 0.6rem;
    display: flex;
    align-items: center;
  }
}
